section #btns-click {
  margin-left: 1%;
}

.wrap #category  {
  display: inline-block;
  margin-left: 5%;
}

#logout section {
  display: inline-block;
}

#title {
  display: block;
}

#logout button{
  background: $gray;
}
