.day {
  margin-left: 2%;
  color: white;
  padding-left: 2%;
  width: 15%;
  height: 150px;
  display: inline-block;
  h4, p {
    margin: 0;
  }
}

.md-trigger {
  cursor: pointer;
}

.weather {
  background: $pink;
  margin: auto 0;
  width: auto;
  border: 1px solid $gray;
  border-radius: 20px;
}

.md-close {
  cursor: pointer;
  text-align: right;
}

td {
  text-align: left;
}

.weatherTable {
  width: 100%;
  td:nth-child(3) {
    width: 20%;
    text-align: center;
  }
  td {
    width: 20%;
  }
}

.big {
  color: white;
  font-size: 200%;
  display: inline-block;
}

.big2 {
  float:right;
  color: white;
  font-size: 200%;
  display: inline-block;
}

.image {
  float:left;
  padding-right: 5%;
  width: 100px;
  height: 100px;
}
