.day {
  color: white;
  padding-left: 2%;
  width: 15%;
  height: 150px;
  background: $pink;
  display: inline-block;
}

.weather {
  margin: auto 0;
  width: auto;
}

.md-close {
  cursor: pointer;
  text-align: right;
}

.weatherTable {
  width: 100%;
  td:nth-child(3) {
    width: 20%;
    text-align: center;
  }
  td {
    width: 20%;
  }
}

.big {
  padding-left: 15%;
  font-size: 200%;
}
