extends layout

block content
  main 
    .container 
      form(action='/help' method='post')
        h1 Where are you traveling?
        
        label(for='city') City
        input(type='text' name='city' id='city')
        
        label(for='state') State
        input(type='text' name='state' id='state')
    
        input(type='submit' value='Help!' )
    
    
    
    div.tileBlock
      
      div.musicTile 
      div.response
        if musicEvents
          each event in musicEvents
            form(action='/user/list' method='post')
              div.event
                p 
                  a(href=event.uri) #{event.displayName}
                  input(type='hidden' value=event.uri)
                  input(type='hidden' value=event.displayName)
                  input(type='submit' value='Save Event')
      div.foodTile
  script(src='/js/client.js')
        
