extends layout

block content
  main 
    .container 
      form(action='/help' method='post')
        label(for = 'location') Where are you traveling?
        input(type='text' name='location' id='location')
        
        label(for='departDate') Departure Date 
        input(type='date' name='departDate' id='departDate')
        
        label(for='arrivalDate') Arrival Date  
        input(type='date' name='arrivalDate' id='arrivalDate')
        
        input(type='submit' value='Help!' )
    .weather
      if weather
        for day in weather
          p=day[0]
          for time in day[1]
            p=time[0]
            p=time[1][0]
            p=time[1][1]
        
