doctype html
html
  head
    title Travel Helper 
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/component.css')
    link(rel='stylesheet', href='/stylesheets/comp.css')
    link(rel='stylesheet', href='/stylesheets/content.css')
  body
    header
      .contained
    block content
    footer
      .contained
    script(src='/js/classie.js')
    script(src='/js/modalEffects.js')
    script(src='/js/modernizer.js')
    script(src='/js/uiMorphingButton_fixed.js')
    script(src='/js/buttonMorph.js')
    script(src='/js/client.js')
