doctype html
html
  head
    title Travel Helper 
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/component.css')
  body
    header
      .contained
    block content
    footer
      .contained
    script(src='/js/classie.js')
    script(src='/js/modalEffects.js')
    script(src='/js/client.js')
    script(src='/js/modalClick.js')
