doctype html
html
  head
    title Beats N Eats
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/component.css')
    link(rel='stylesheet', href='/stylesheets/comp.css')
    link(rel='stylesheet', href='/stylesheets/content.css')
    link(rel='stylesheet', href='/stylesheets/buttonHover.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
  body
    header
      .contained
        if email
          .welcome
            span Welcome !{email}
        if email
          form#logout(action='/logout' method='link')
            section(id='btns-click')
              button(class='btns btns-7 btns-logout icon-key' width='100')
                span Logout
        else
          .login-signup.nav
            span.md-trigger(id='login' data-modal=('modal-6')) Login | 
            span.md-trigger(id='signup' data-modal=('modal-7')) Signup 
    block content
    footer
      .contained
    script(src='/js/buttonClick.js')
    script(src='/js/classie.js')
    script(src='/js/modalEffects.js')
    script(src='/js/modernizer.js')
    script(src='/js/client.js')
    script(src='/js/modalClick.js')
