doctype html
html
  head
    title Travel Helper 
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      .container 
        | Travel Helper
        a(href='/user/new') Sign Up
        if fullName
          a(href='/logout') Logout
        else
          form(action='/login', method='post')
            label(for='email')
            input(type='text' name='email' id='email')
            label(for='password')
            input(type='password' name='password' id='password')
            input(type='submit' value='login')
    block content
    
    footer
      .container
    script(src='/js/client.js')
