/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(http://fonts.googleapis.com/css?family=Unica+One);
@import url(http://fonts.googleapis.com/css?family=Quicksand:400,300,700);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 1em; }

body {
  background-color: white;
  font-family: Quicksand, serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333; }

p {
  margin-bottom: 1.3em; }

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-family: Unica One;
  font-weight: inherit;
  line-height: 1.2; }

h1 {
  margin-top: 0;
  font-size: 2.441em; }

h2 {
  font-size: 1.953em; }

h3 {
  font-size: 1.563em; }

h4 {
  font-size: 1.25em; }

small, .font_small {
  font-size: 0.8em; }

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  width: 100%;
  background: #656278;
  color: white; }

a {
  color: #00B7FF; }

/*Header CSS */
.contained {
  margin: 0 auto;
  width: 960px; }
  .contained h2, .contained form {
    display: inline-block; }
  .contained h2 {
    margin: 0;
    float: left; }

header {
  width: 100%;
  height: 50px; }

footer {
  width: 100%;
  background-color: green; }

footer .contained {
  background-color: green; }

.main {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%; }

.musicTile {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  cursor: pointer;
  margin: 0 auto; }

.tileBlock {
  width: 90%;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
  margin-top: 5%; }

.left {
  width: 47%;
  border: 1px solid red;
  float: left; }

.right {
  width: 47%;
  border: 1px solid red;
  float: right; }

.musicResponse {
  display: none;
  width: 100%;
  height: 500px;
  overflow: scroll; }

.foodResponse {
  display: none;
  width: 100%;
  height: 500px;
  overflow: scroll; }

.foodTile {
  margin: 0 auto;
  width: 50px;
  height: 50px;
  border: 1px solid red;
  cursor: pointer; }

.nav {
  float: right; }

.hiddenError {
  display: none; }

#modalError {
  padding: 0;
  color: #656278; }

.hiddenError2 {
  display: none; }

.loginError {
  padding: 0;
  color: #656278; }

#loginError {
  padding: 0;
  color: #656278; }

.md-content form {
  display: inline-block;
  margin-right: 5%; }

.musicEventContainer input[type='submit'] {
  margin-top: 2%;
  margin-left: 5%;
  height: 45px;
  overflow: hidden;
  text-align: center;
  width: 90%;
  font-size: .7em;
  margin-right: 5%;
  white-space: normal;
  background-color: black;
  color: lightgray;
  border-radius: 15px;
  border: none; }

.musicEventContainer input[type='submit']:hover {
  color: white;
  -webkit-box-shadow: 0px 0px 5px 3px #f2faf9;
  -moz-box-shadow: 0px 0px 5px 3px #f2faf9;
  box-shadow: 0px 0px 5px 3px white; }

.musicEventContainer input[type='submit']:focus {
  outline: none; }

.foodEventContainer input[type='submit'] {
  margin-top: 2%;
  margin-left: 5%;
  height: 45px;
  overflow: hidden;
  text-align: center;
  width: 90%;
  font-size: .7em;
  margin-right: 5%;
  white-space: normal;
  background-color: black;
  color: lightgray;
  border-radius: 15px;
  border: none; }

.foodEventContainer input[type='submit']:focus {
  outline: none; }

.foodEventContainer input[type='submit']:hover {
  color: white;
  -webkit-box-shadow: 0px 0px 5px 3px #f2faf9;
  -moz-box-shadow: 0px 0px 5px 3px #f2faf9;
  box-shadow: 0px 0px 5px 3px white; }

#modal-8 .md-content {
  border-radius: 15px;
  background-color: purple; }

#modal-9 .md-content {
  border-radius: 15px;
  background-color: green; }

.md-content .fixed {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 100;
  background-color: black;
  height: 120px;
  border-radius: 15px; }

.md-content .scroll {
  height: 500px;
  overflow: scroll;
  padding-top: 125px; }

input {
  color: #656278; }

label {
  margin: 3%; }

form {
  width: 100%;
  margin: 0 auto; }

.form {
  width: 80%; }

.col {
  width: 100%; }

.form .btn {
  margin: 1%;
  margin-top: 5%; }

.btn {
  margin-left: 1%; }

.day {
  color: white;
  padding-left: 3%;
  padding-right: 3%;
  width: 20%;
  height: 150px;
  display: inline-block; }
  .day h4, .day p {
    margin: 0; }

.md-trigger {
  cursor: pointer; }

.weather {
  padding: 1%;
  padding-left: 0;
  padding-right: 0;
  background: #F24F52;
  margin: auto 0;
  width: auto;
  border: 1px solid #656278;
  border-radius: 20px; }

.md-close {
  cursor: pointer;
  text-align: right; }

td {
  text-align: left; }

.weatherTable {
  width: 100%; }
  .weatherTable td:nth-child(3) {
    width: 20%;
    text-align: center; }
  .weatherTable td {
    width: 20%; }

.big {
  color: white;
  font-size: 200%;
  display: inline-block; }

.big2 {
  float: right;
  color: white;
  font-size: 200%;
  display: inline-block; }

.image {
  float: left;
  padding-right: 5%;
  width: 100px;
  height: 100px; }

.hidden {
  display: none; }
