extends ../layout

block content

  form(action='/user' method='post')
    div
      label(for='full-name') Full Name
      input(type='text' name='full-name' id='full-name')
    div
      label(for='email') Email
      input(type='text' name='email' id='email')
    div
      label(for='password') Password
      input(type='password' name='password' id='password')
    div  
      label(for='pw-confirm') Password Confirmation
      input(type='password' name='pw-confirm' id='pw-confirm')
    div
      input(type='submit' value='Sign Up')
    
