extends ../layout

block content
  main
    .container
      form(action='/user' method='post')
        div
          label(for='fullName') Full Name
          input(type='text' name='fullName' id='fullName')
        div
          label(for='email') Email
          input(type='text' name='email' id='email')
        div
          label(for='password') Password
          input(type='password' name='password' id='password')
        div  
          label(for='pw-confirm') Password Confirmation
          input(type='password' name='pw-confirm' id='pw-confirm')
        div
          input(type='submit' value='Sign Up')
    
